@page "/aboutUs"

<style>
    body {
        min-height: 100vh;
    }
</style>

<MudLayout>
    <CustomNavMenu></CustomNavMenu>

    <MudMainContent>
        <!--VISTA MOBILE-->
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
            <MudPaper Class="px-8 pt-4" Elevation="0">
                <h1 style="font-family: 'Inter Tight', sans-serif; font-weight: 600; font-size: 20px;text-align: center;">
                    <span style="color: black;">Sobre nosotros</span>
                </h1>
            </MudPaper>

            <MudPaper Class="mx-auto" Elevation="0" Width="80%">
                <MudStack Class="mx-auto pa-4" Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    @*<MudPaper Elevation="0" Class="mx-auto justify-center object-center">
                        <MudImage Src="../images/LogoSinFondo.png"
                                  Alt="Help2Help"
                                  Style="height:10vh"
                                  ObjectFit="ObjectFit.Cover"
                                  ObjectPosition="ObjectPosition.Center"
                                  Class="mx-auto pa-4" />
                    </MudPaper>*@
                    <MudPaper Elevation="0">
                        <MudText Typo="Typo.subtitle2" Align="Align.Center">
                            Lorem ipsum dolor sit amet. Hic veritatis similique eos velit dolorem vel iste sint.
                            Est voluptatibus ipsa est amet explicabo aut earum itaque qui aperiam sapiente aut illum rerum?
                            Et enim dolorem sit molestiae sunt ab fugit obcaecati est nostrum iure sed suscipit voluptate.
                            Quo quas tenetur vel rerum possimus et sequi delectus quo inventore consectetur ut quia exercitationem.
                        </MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>

            <MudPaper Class="mx-auto pl-2" Elevation="0">
                <MudStack Class="mx-auto pa-2" Spacing="4" Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudImage Src="../images/vision.png"
                                              Alt="Mapa"
                                              Class="object-center"
                                              Style="width:15vh;height:15vh;" />
                    <MudPaper Elevation="0">
                        <MudText Typo="Typo.subtitle2">
                            VISIÓN
                            <br><br>
                            Utilizar el potencial de contribución en cada miembro  <br> de la sociedad, para colaborar
                            con el bienestar social y el cuidado <br> medioambiental  en pos del bien común.
                        </MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>

            <MudPaper Class="mx-auto pl-2" Elevation="0">
                <MudStack Row="true" Spacing="4" Class="mx-auto pa-2" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudPaper Elevation="0">
                        <MudText Typo="Typo.subtitle2">
                            MISIÓN
                            <br><br>
                            Crear una solución que permita la gestión de contribuciones <br> entre personas y/o entidades con
                            fines sociales y/o <br>  ambientales que sea segura, confiable y didáctica.
                        </MudText>
                    </MudPaper>
                    <MudImage Src="../images/mission.png"
                                              Alt="Mapa"
                                              Class="object-center"
                                              Style="width:15vh;height:15vh;" />
                </MudStack>
            </MudPaper>

            <MudPaper Class="mx-auto pl-2" Elevation="0">
                <MudStack Class="mx-auto pa-2" Row="true" Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudImage Src="../images/bulb.png"
                                              Alt="Mapa"
                                              Class="object-center"
                                              Style="width:15vh;height:15vh;" />
                    <MudPaper Elevation="0">
                        <MudText Typo="Typo.subtitle2">
                            OBJETIVO GENERAL
                            <br><br>
                            El proyecto pretende mejorar y aumentar la comunicación <br> entre entidades y/o personas
                            que quieren contribuir con causas sociales <br> y/o ambientales, y recibir dicha ayuda.
                        </MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>

            <MudPaper Class="pa-8" Elevation="0">
                <h1 style="font-family: 'Inter Tight', sans-serif; font-weight: 600; font-size: 20px; text-align: center;">
                    <span style="color: black;">Nuestos aliados</span>
                </h1>
            </MudPaper>
            <MudPaper Elevation="0" Style="height:75%">

                <MudStack Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">

                    <MudPaper Elevation="2" Height="25%" Width="80%">
                        <MudCard>
                            <MudCardMedia Image="../images/PequeñosAyudantes.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Pequeños colaboradores</MudText>
                                <MudText Typo="Typo.body2">
                                    Gracias al aporte de personas como vos, nuestra web recibe visitas, logrando
                                    que miles de personas ayuden y sean ayudadas cada día.
                                </MudText>
                                <MudText Typo="Typo.body2">Tu ayuda hace la diferencia.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" href="HelpUsToHelp">Quiero Colaborar</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="80%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoIBM.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">IBM - IBM WATSON</MudText>
                                <MudText Typo="Typo.body2">Recibimos 100USD por año para el uso de espacio y herramienta IBM WATSON</MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos enseñarles a nuestros usuarios formas de reciclar, donar y/o hacer voluntariado.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.ibm.com/watson">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="80%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoGoogle.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Google</MudText>
                                <MudText Typo="Typo.body2">Recibimos USD 10,000 mensuales en publicidad en especie de Google Ads.</MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos compartir nuestra historia con públicos de todas partes del país.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.google.es/grants/">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>
                </MudStack>

                <MudStack Spacing="4" Class="pt-6" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudPaper Elevation="2" Height="25%" Width="80%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoMP.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Mercado Pago</MudText>
                                <MudText Typo="Typo.body2">Recibimos 100USD por año para el uso de espacio y herramienta MP </MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos permitirles a nuestros usuarios donaciones por un medio confiable</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.mercadopago.com.ar/c/hub/ong">Ver Más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="80%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoUTN.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">UTN FR San Francisco</MudText>
                                <MudText Typo="Typo.body2">Recibimos 100USD por año para el uso de espacio y herramienta IBM WATSON</MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos enseñarles a nuestros usuarios formas de reciclar, donar y/o hacer voluntariado.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.sanfrancisco.utn.edu.ar/">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="80%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoAWS.png" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Amazon Web Services</MudText>
                                <MudText Typo="Typo.body2">Programa para ONGs y Organizaciones sin fines de lucro.</MudText>
                                <MudText Typo="Typo.body2">
                                    AWS se dedica a lograr un mundo donde cada persona tiene la oportunidad de vivir
                                    una vida digna en un planeta saludable.
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://aws.amazon.com/es/">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                </MudStack>
            </MudPaper>
        </MudHidden>

        <!--VISTA WEB-->
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudPaper Class="pa-8" Elevation="0">
                <h1 style="font-family: 'Inter Tight', sans-serif; font-weight: 600; font-size: 48px;text-align: center;">
                    <span style="color: black;">Sobre nosotros</span>
                </h1>
            </MudPaper>

            <MudPaper Class="mx-auto" Elevation="0" Width="80%">
                <MudStack Class="mx-auto pa-4" Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    @*<MudPaper Elevation="0" Class="mx-auto justify-center object-center">
                        <MudImage Src="../images/LogoSinFondo.png"
                                  Alt="Help2Help"
                                  Style="height:25vh"
                                  ObjectFit="ObjectFit.Cover"
                                  ObjectPosition="ObjectPosition.Center"
                                  Class="mx-auto pa-4" />
                    </MudPaper>*@
                    <MudPaper Elevation="0">
                        <MudText Typo="Typo.subtitle2" Align="Align.Center">
                            Lorem ipsum dolor sit amet. Hic veritatis similique eos velit dolorem vel iste sint.
                            Est voluptatibus ipsa est amet explicabo aut earum itaque qui aperiam sapiente aut illum rerum?
                            Et enim dolorem sit molestiae sunt ab fugit obcaecati est nostrum iure sed suscipit voluptate.
                            Quo quas tenetur vel rerum possimus et sequi delectus quo inventore consectetur ut quia exercitationem.
                        </MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>

            <MudPaper Class="mx-auto" Elevation="0" Style="height:30vh">
                <MudStack Class="mx-auto pa-2" Spacing="16" Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudImage Src="../images/vision.png"
                                              Alt="Mapa"
                                              Class="object-center"
                                              Style="width:30vh;height:30vh;" />
                    <MudPaper Elevation="0">
                        <MudText Typo="Typo.subtitle2">
                            VISIÓN
                            <br><br>
                            Utilizar el potencial de contribución en cada miembro  <br> de la sociedad, para colaborar
                            con el bienestar social y el cuidado <br> medioambiental  en pos del bien común.
                        </MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>

            <MudPaper Class=" mx-auto" Elevation="0" Style="height:30vh">
                <MudStack Row="true" Spacing="16" Class="mx-auto pa-2" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudPaper Elevation="0" Style="@($"color:{Colors.Shades.Black};")">
                        <MudText Typo="Typo.subtitle2">
                            MISIÓN
                            <br><br>
                            Crear una solución que permita la gestión de contribuciones <br> entre personas y/o entidades con
                            fines sociales y/o <br>  ambientales que sea segura, confiable y didáctica.
                        </MudText>
                    </MudPaper>
                    <MudImage Src="../images/mission.png"
                                              Alt="Mapa"
                                              Class="object-center"
                                              Style="width:30vh;height:30vh;" />
                </MudStack>
            </MudPaper>

            <MudPaper Class="mx-auto" Elevation="0" Style="height:30vh">
                <MudStack Class="mx-auto pa-2" Row="true" Spacing="16" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudImage Src="../images/bulb.png"
                                              Alt="Mapa"
                                              Class="object-center"
                                              Style="width:30vh;height:30vh;" />
                    <MudPaper Elevation="0" Style="@($"color:{Colors.Shades.Black};")">
                        <MudText Typo="Typo.subtitle2">
                            OBJETIVO GENERAL
                            <br><br>
                            El proyecto pretende mejorar y aumentar la comunicación <br> entre entidades y/o personas
                            que quieren contribuir con causas sociales <br> y/o ambientales, y recibir dicha ayuda.
                        </MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>

            <MudPaper Class="pa-8" Elevation="0">
                <h1 style="font-family: 'Inter Tight', sans-serif; font-weight: 600; font-size: 48px; text-align: center;">
                    <span style="color: black;">Nuestos aliados</span>
                </h1>
            </MudPaper>

            <MudPaper Elevation="0">

                <MudStack Row="true" Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudPaper Elevation="2" Height="25%" Width="25%">
                        <MudCard>
                            <MudCardMedia Image="../images/PequeñosAyudantes.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Pequeños colaboradores</MudText>
                                <MudText Typo="Typo.body2">
                                    Gracias al aporte de personas como vos, nuestra web recibe visitas, logrando
                                    que miles de personas ayuden y sean ayudadas cada día.
                                </MudText>
                                <MudText Typo="Typo.body2">Tu ayuda hace la diferencia.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" href="HelpUsToHelp">Quiero Colaborar</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="25%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoIBM.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">IBM - IBM WATSON</MudText>
                                <MudText Typo="Typo.body2">Recibimos 100USD por año para el uso de espacio y herramienta IBM WATSON</MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos enseñarles a nuestros usuarios formas de reciclar, donar y/o hacer voluntariado.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.ibm.com/watson">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="25%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoGoogle.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Google</MudText>
                                <MudText Typo="Typo.body2">Recibimos USD 10,000 mensuales en publicidad en especie de Google Ads.</MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos compartir nuestra historia con públicos de todas partes del país.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.google.es/grants/">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>
                </MudStack>

                <MudStack Row="true" Spacing="4" Class="pt-2" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudPaper Elevation="2" Height="25%" Width="25%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoMP.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Mercado Pago</MudText>
                                <MudText Typo="Typo.body2">Recibimos 100USD por año para el uso de espacio y herramienta MP </MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos permitirles a nuestros usuarios donaciones por un medio confiable</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.mercadopago.com.ar/c/hub/ong">Ver Más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="25%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoUTN.jpg" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">UTN FR San Francisco</MudText>
                                <MudText Typo="Typo.body2">Recibimos 100USD por año para el uso de espacio y herramienta IBM WATSON</MudText>
                                <MudText Typo="Typo.body2">Gracias a esta donación podemos enseñarles a nuestros usuarios formas de reciclar, donar y/o hacer voluntariado.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://www.sanfrancisco.utn.edu.ar/">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>

                    <MudPaper Elevation="2" Height="25%" Width="25%">
                        <MudCard>
                            <MudCardMedia Image="../images/LogoAWS.png" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Amazon Web Services</MudText>
                                <MudText Typo="Typo.body2">Programa para ONGs y Organizaciones sin fines de lucro.</MudText>
                                <MudText Typo="Typo.body2">
                                    AWS se dedica a lograr un mundo donde cada persona tiene la oportunidad de vivir
                                    una vida digna en un planeta saludable.
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Info" Href="https://aws.amazon.com/es/">Ver más</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>
                </MudStack>
            </MudPaper>
        </MudHidden>
        @*<CustomFooter></CustomFooter>*@
    </MudMainContent>
</MudLayout>

@code {

}
